#home-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 18vh 6vh auto; */
    grid-template-rows: auto 1fr;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - var(--nav-height));
    background-color: var(--background-color);
}

#greeting-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 5px;
    padding: 20px 27px 0px 27px;
    color: var(--h1-color);
}

#greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tag {
    width: 15%;
    min-width: 60px;
    max-width: 60px;
    height: 15%;
    min-height: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.tag-text {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--accent-color);
}

.tag-logo {
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
}

#admin-panel {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0px 27px 0px 27px;
    grid-row: 2;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
}

#admin-container {
    padding: 0px 27px 0px 27px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tab {
    font-size: 1.5rem;
    font-weight: medium;
    color: var(--main-text-color);
    border: none;
    background-color: transparent;
    width: 90px;
    height: 30px;
    transition: background-color 0.3s ease;
}

.tab.active {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    position: relative;
    width: 140px;
    min-height: 170px;
}

.progress-svg {
    width: 140px;
    height: 140px;
    transform: rotate(-90deg);
}

.progress-circle-background {
    fill: none;
    stroke: var(--progress-circle-color);
    stroke-width: var(--circle-stroke);
}

.progress-bar {
    --progress-in-percent: 0;
    fill: none;
    stroke: var(--accent-color);
    stroke-width: var(--circle-stroke);
    stroke-linecap: round;
    stroke-dasharray: 565.48;
    stroke-dashoffset: calc(565.48 - (565.48 * var(--progress-in-percent)) / 100);
    transition: stroke-dashoffset 0.5s ease-out;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--accent-color);
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'figtree', sans-serif;
}

#next-meals {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

#next-meal-text {
    font-size: 3.2rem;
    font-family: 'figtree', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--h1-color);
}

.meals-info-db {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 22px;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

.next-meal-card-db {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
}

.congratulations-message-db {
    padding: 10px 15px 10px 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #6B7280;
    gap: 5px;
}

#congrats-link {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    border-radius: 0px;
}

.first-row-db {
    display: flex;
    gap: 10px;
}

.nutrition-values-db {
    display: flex;
    justify-content: space-around;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color) !important;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    flex-shrink: 0;
    margin: 0;
}

.checkbox:checked {
    background: var(--positive-color);
}

.checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.next-meal-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.next-meal-info-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    flex: 1;
}

.meal-name-db {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.nutrition-item-db{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.nutrition-value-db {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: var(--main-text-color);
}

.nutrition-values-db {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px 40px 10px 40px;
}

.nutrition-label-db {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.subtext {
    font-size: 1.4rem;
    margin: 0;
}

.calories-db {
    font-size: 1.6rem;
    color: var(--main-text-color);
}

.nutrition-text-db {
    font-size: 1.2rem;
}

/* Webkit browsers (Chrome, Safari) */
#meals-info-db::-webkit-scrollbar {
    display: none;
}

#info-stats-db {
    display: flex;
    justify-content: center;
    gap: 34px;
    height: 100%;
}

#planned {
    padding: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.nowrap-text {
    white-space: nowrap;
}

.meals-amount-db {
    font-family: 'figtree', sans-serif;
    font-weight: 600;
}

#eaten {
    padding: 15px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#todays-meals-text {
    font-size: 2rem;
    font-family: 'figtree', sans-serif;
    font-weight: 600;
    position: sticky;
    top: 0px;
    margin-bottom: 5px;
    background-color: var(--background-color);
    color: var(--h1-color);
}

#todays-meals-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    flex-shrink: 0;
}

.mealcards-db {
    padding: 8px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85%;
    margin-bottom: 10px;
    margin-top: -15px;
    gap: 15px;
}

.check-point-db {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: var(--border-color);
}

.check-point-db.active {
    background-color: var(--accent-color);
}

.todays-calories {
    margin-left: auto;
    white-space: nowrap;
}

#standard-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: fit-content;
}

#user-managment-container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    margin-top: 20px;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#user-text {
    font-family: 'figtree', sans-serif;
    margin-bottom: 2px;
}

#user-amount {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 2px;
    margin-bottom: 8px;

}

#user-red-point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.meals-amount-text {
    font-size: 1.4rem;
    color: var(--main-text-color);
}

#search-icon-db {
    width: 15px;
    height: 15px;
    margin: -2px;
    display: flex;
    align-items: center;
}

#search-bar-db {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    width: 100%;
    height: 30%;
    padding: 8px 12px;
}

#search-bar-db input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    line-height: 1;
}

#search-bar-db input::placeholder {
    color: var(--light-text-color);
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
}

#user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    list-style-type: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 5px;
}

#my-element::-webkit-scrollbar {
    display: none;
}

.card.user {
    position: relative;
    overflow: hidden;
    /* Important for clipping the delete button */
    background-color: var(--card-color);
    box-shadow: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    min-height: 60px;
}

.card.user .swipe-content {
    display: flex;
    align-items: center;
    background-color: var(--card-color);
    /* Or original card background */
    min-height: 55px;
    gap: 10px;
    padding: 0px 1rem 0px 0px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: transform 0.3s ease-out, border-radius 0.3s ease-out;
}

.card.user .swipe-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    z-index: 1;
    cursor: pointer;
    background-color: #E35252;
    opacity: 0;
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
}

/* Class for the deleting animation */
.card.user.deleting {
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
    opacity: 0;
    max-height: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -10px;
    /* Compensate for the original margin-bottom */
    border: none;
}

.card.user.swipe-removing {
    transform: translateX(-100%);
    opacity: 0;
}


.card.user:last-child {
    margin-bottom: 10px;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 60%;
    background-color: var(--fill-color);
    height: 3.5rem;
    min-width: 3.5rem;
    color: var(--main-text-color)
}

.user-name {
    font-size: 1.2rem;
    color: var(--main-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-email {
    font-size: 1rem;
    color: #6B7280;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
}

#user-role {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    gap: 10px;
}

.user-tag {
    width: 6rem;
    height: 2rem;
    min-width: 5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.user-tag-logo {
    width: 1rem;
    height: 1rem;
    margin-bottom: 2px;
}

.user-tag-text {
    font-size: 1rem;
    color: var(--accent-color);
    /**/
}

/* --------------------------------------------------------------- */
/* ---------------------- USER MANAGEMENT ------------------------ */
/* --------------------------------------------------------------- */
/* user */
#card-um1 {
    border: solid 1px var(--positive-border-color);
    background-color: var(--positive-fill-color);
}

#text-um1 {
    color: var(--positive-color);
}

/* cook */
#card-um2 {
    border: solid 1px var(--border-color-cook);
    background-color: var(--background-color-cook);
}

#text-um2 {
    color: #7F8DFF;
}

/* admin */
#card-um3 {
    border: solid 1px var(--border-color-admin);
    background-color: var(--background-color-admin);
}

#text-um3 {
    color: var(--accent-color);
}

/* --------------------------------------------------------------- */
/* ---------------------- USER MANAGEMENT ------------------------ */
/* --------------------------------------------------------------- */


#change-role {
    width: 1.2rem;
    height: 1.2rem;
}

/*  HIDDEN ADMIN PANEL  */
.hidden-admin-panel {
    display: none !important;
}