#home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18vh 6vh auto;
    height: calc(100vh - var(--nav-height));
}

#greeting-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2.7vh 27px 0px 27px;
    flex-shrink: 0;
    gap: 5px;
}

#greeting-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tag {
    border: solid 1px #F9BEBE;
    background-color: #FEF2F2;
    width: 15%;
    min-width: 60px;
    max-width: 60px;
    height: 15%;
    min-height: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.tag-text {
    font-family: var(--font);
    font-size: 1rem;
    color: #E35252;
}

.tag-logo {
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
}

#admin-panel {
    grid-row: 2;
    border: solid 1px #EBE5E5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#admin-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
}

.tab {
    font-size: 1.5rem;
    font-weight: medium;
    border: none;
    background-color: transparent;
    width: 90px;
    height: 30px;
    transition: background-color 0.3s ease;
}

.tab.active {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.progress-wrapper {
    grid-row: 3;
    place-self: center;
    position: relative;
    width: 35%;
    height: 35%;
    max-height: 170px;

}

.progress-svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.progress-circle-background {
    fill: none;
    stroke: var(--fill-color);
    stroke-width: var(--circle-stroke);
}

.progress-bar {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: var(--circle-stroke);
    stroke-linecap: round;
    stroke-dasharray: 565.48;
    stroke-dashoffset: calc(565.48 - (565.48 * 36.1) / 100);
    transition: stroke-dashoffset 0.5s ease-out;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--accent-color);
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'figtree', sans-serif;
}

#next-meals {
    margin: 0px 27px 0px 27px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#next-meal-text {
    font-size: 3.2rem;
    font-family: 'figtree', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.meals-info-db {
    flex: 1;
    /* Take remaining space */
    min-height: 0;
    /* Allow shrinking */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.2vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

.next-meal-card-db {
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 6px;
}

.first-row-db {
    display: flex;
    gap: 10px; 
}

.nutrition-values-db {
    display: flex;
    justify-content: space-around;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    flex-shrink: 0;
    margin: 0;
}

.checkbox:checked {
    background: var(--positive-color);
}

.checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.next-meal-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
}

.next-meal-info-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex: 1;
}

.meal-name-db {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.subtext {
    font-size: 1.4rem;
    margin: 0;
}

.calories-db {
    font-size: 1.6rem;
    color: var(--main-text-color);
}

.nutrition-item-db {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.nutrition-value-db {
    font-size: 1.2rem;
    font-weight: 600;
    color: #111827;
    margin: 0 0 2px 0;
}

.nutrition-text-db {
    font-size: 1.2rem;
}

/* Webkit browsers (Chrome, Safari) */
#meals-info-db::-webkit-scrollbar {
    display: none;
}

#info-stats-db {
    display: flex;
    justify-content: center;
    gap: 34px;
    height: 100%;
}

#planned {
    padding: 6px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.meals-amount-db {
    font-family: 'figtree', sans-serif;
    font-weight: 600;
}

#eaten {
    padding: 8px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#todays-meals-text {
    font-size: 2rem;
    font-family: 'figtree', sans-serif;
    font-weight: 600;
    position: sticky;
    top: 0px;
    margin-bottom: 5px;
    background-color: white;
}

#todays-meals-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mealcards-db {
    padding: 8px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85%;
    margin-bottom: 10px;
    margin-top: -15px;
    gap: 15px;
}

.red-point-db {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: var(--border-color);
}

.red-point-db.active {
    background-color: var(--accent-color);
}

.todays-calories {
    margin-left: auto;
}

#user-managment-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 66vh;
}

#user-info {
    padding: 5px 40px 10px 40px;
    display: flex;
    flex-direction: column;
}

#user-text {
    font-family: 'figtree', sans-serif;
    margin-bottom: 2px;
    margin-top: 10px;
}

#user-amount {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 2px;
    margin-bottom: 8px;

}

#user-red-point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.meals-amount-text {
    font-size: 1.4rem;
    color: var(--main-text-color);
}

#search-icon-db {
    width: 15px;
    height: 15px;
    margin: -2px;
    display: flex;
    align-items: center;
}

#search-bar-db {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    width: 100%;
    height: 30%;
    padding: 8px 12px;
}

#search-bar-db input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    line-height: 1;
}

#search-bar-db input::placeholder {
    color: #D1D1D1;
    font-size: 1.4rem;
    font-weight: 300;
}

#user-list {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
}

.card.user {
    position: relative;
    overflow: hidden; /* Important for clipping the delete button */
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin-bottom: 10px; /* Keep gap between items */
    min-height: 55px;
}

.card.user .swipe-content {
    display: flex;
    align-items: center;
    background-color: white; /* Or original card background */
    min-height: 55px;
    gap: 10px;
    padding: 0px 1rem 0px 0px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: transform 0.3s ease-out, border-radius 0.3s ease-out;
}

.card.user .swipe-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    z-index: 1;
    cursor: pointer;
    background-color: var(--accent-color);
    opacity: 0;
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
}

/* Class for the deleting animation */
.card.user.deleting {
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
    opacity: 0;
    max-height: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -10px; /* Compensate for the original margin-bottom */
    border: none;
}

.card.user:last-child {
    margin-bottom: 10px;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 60%;
    background-color: #E5E7EB;
    height: 3.5rem;
    min-width: 3.5rem;
    color: var(--main-text-color)
}

.user-name {
    font-size: 1.2rem;
    color: var(--main-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-email {
    font-size: 1rem;
    color: #6B7280;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
}

#user-role {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    gap: 10px;
}

.user-tag {
    border: solid 1px #F9BEBE; /**/
    background-color: #FEF2F2; /**/
    width: 6rem;
    height: 2rem;
    min-width: 5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.user-tag-logo {
    width: 1rem;
    height: 1rem;
    margin-bottom: 2px;
}

.user-tag-text {
    font-size: 1rem;
    color: var(--accent-color); /**/
}

/* --------------------------------------------------------------- */
/* ---------------------- USER MANAGEMENT ------------------------ */
/* --------------------------------------------------------------- */
/* user */
#card-um1 {
    border: solid 1px var(--positive-border-color);
    background-color: var(--positive-fill-color);
}

#text-um1 {
    color: var(--positive-color);
}
/* cook */
#card-um2 {
    border: solid 1px #C7CDFF;
    background-color: #F2EEFF;
}

#text-um2 {
    color: #7F8DFF;
}
/* admin */
#card-um3 {
    border: solid 1px #F9BEBE;
    background-color: #FEF2F2;
}

#text-um3 {
    color: var(--accent-color);
}
/* --------------------------------------------------------------- */
/* ---------------------- USER MANAGEMENT ------------------------ */
/* --------------------------------------------------------------- */


#change-role {
    width: 1.2rem;
    height: 1.2rem;
}

@media (max-height: 750px) {
    #admin-panel {
        border: none;
    }

    .tab {
        transform: scale(80%);
    }
}

@media (max-height: 700px) {

    .roboto {
        font-size: 3rem;
    }

    #admin-container {
        margin-top: 0px;
    }

    .tab {
        transform: scale(80%);
    }

    .tag-text {
        font-size: 0.8rem;
    }

    #next-meal-text {
        margin-bottom: 10px;
    }

}

@media (max-height: 650px) {

    .progress-wrapper {
        transform: scale(80%);
    }


    .tag {
        position: absolute;
        top: 65px;
        left: 120px;
        width: 50px;
        height: 15px;
    }

    #home {
        grid-template-rows: 15vh 8vh auto;
    }

    #admin-container {
        margin-top: -20px;
    }

    .tag-logo {
        width: 10px;
        height: 10px;
    }

}

@media (max-height: 580px) {

    #greeting-container {
        margin: 5px 27px 0px 27px;
    }

    .tag {
        position: absolute;
        top: 50px;
        left: 120px;
        width: 50px;
        height: 15px;
    }
}


@media (max-width: 380px) {

    .progress-text {
        font-size: 2rem;
    }

    .tab {
        font-size: 1.4rem;
    }
}



/* Status tag colors 
    --status-fill-color: #FEF2F2;
    --status-border-color: #F9BEBE;
    --status-text-color: #E35252;

    Progress div colors 
    --progress-text-color-lvl1: #5F0606;
    --progress-text-color-lvl2: #960505;
    --progress-bar-color: #F7BBBB;
    --progress-bar-color-lvl2: #E35252;
    --progress-fill-collor: #FEF2F2;
    --progress-border-color: #F9BEBE;
    */
