/* General structure */
.list-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 80vh; /* Feste Höhe für den Container */
    overflow-y: auto; /* Ermöglicht vertikales Scrollen */
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    position: relative;
}

.list-btn {
    padding: 10px 15px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: #0056b3;
}


/* Grocery list */
.checklist {
    list-style: none;
    padding: 0;
}

.checklist li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.label {
    display: flex;
    align-items: center; /* center text and circle */
    cursor: pointer; /* change curser when hovering */
}

.label:hover .bullet {
    border-color: #bdbbbb; 
}

.input {
    display: none; /* hide checkbox */
}

.bullet {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; /* rounds circle */
    border: 2px solid #555; 
    margin-right: 10px; 
    background-color: transparent; /* Starts as empty */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Animation when changing */
}

.input:checked + .bullet {
    background-color: #4caf50; /* green point, when checkbox was clicked */
    border-color: #4caf50; 
}


/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Adding items */
.add-more {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #e0d9d9;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#add-more-inputs {
    text-align: center;
    margin-top: 10px;
    display: none;
}

#new-items {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

#add-button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#add-button:hover {
    background-color: #1e7a37;
}

/* Deleting items */
.delete-button{
    
    margin-left: auto;
    background-color: rgb(235, 67, 67);
    color: white;

}