/* General structure */
.list-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #1ab0e6;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 65vh; /* Feste Höhe für den Container */
    position: relative;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #1ab0e6;
    color: white;
    position: sticky;
    top: 0;
}

.list-btn {
    padding: 10px 15px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Grocery list */
.checklist {
    list-style: none;
    padding: 0;
}

.checklist li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.list-label {
    display: flex;
    align-items: center; /* center text and circle */
    cursor: pointer; /* change curser when hovering */
    gap: 0px;
    color: #555;
}

.list-label:hover .list-bullet { 
    border: 5px solid #1ab0e6;
}

.list-input {
    display: none; /* hide checkbox */
}

.list-bullet {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; /* rounds circle */
    border: 3px solid #1ab0e6; 
    margin-right: 10px; 
    background-color: transparent; /* Starts as empty */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Animation when changing */
}

.list-input:checked + .list-bullet {
    background-color: #1ab0e6; /* green point, when checkbox was clicked */
}


/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Adding items */
.add-more {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #1ab0e6;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #e0d9d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: auto;
    position: sticky;
    bottom: 0;
}

.add-more:hover{

    font-size: 20px;
}

#add-more-inputs {
    text-align: center;
    margin-top: 10px;
    display: none;
}

#new-items {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

#add-button {
    padding: 5px 10px;
    background-color: #1ab0e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#add-button:hover {
    background-color: #1a68e6;
}

/* Deleting items */
#delete-ingredients-button{
    
    margin-left: auto;
    background-color: white;
    color: white;
    padding: 0px;
    /* border: 2px solid #555; */ /* for adjusting size */

}

#close{

    color: rgb(235, 67, 67);
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

#delete-all-btn{

    background-color: rgb(235, 67, 67);
    color: white;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#amount{

    font-size: 14px;
    border: none;
    padding: 0px;
    width: 5%;
    /* border:2px solid rgba(0, 0, 0, 0.1); For debugging */
    text-align: center;
    margin-right: 0;

}
#unit_of_measurement {

    font-size: 14px;
    border: none;
    border-radius: 0;
    padding: 0px;
    width: 10%;
    /* border:2px solid rgba(0, 0, 0, 0.1); For debugging */
    margin-left: 0;

}

#unit_of_measurement:focus {
    outline: none;  
    border: none;   
}

#amount:focus {
    outline: none;  
    border: 1px solid #555;   
}



