.settings-container *,
.scrollable-content-st * {
    min-width: 0;
    font-family: inherit;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 22px;
    padding-bottom: 0px;
    gap: 16px;
    font-family: inherit;
}

.settings-container a {
    text-decoration: none;
    color: var(--main-text-color);
}

.settings-container h1 {
    font-size: 1.8rem;
    font-weight: 500;
}

.settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 200px;
    width: 100%;
}

.settings-header h1 {
    font-size: 2rem;
}

#arrow-back-st {
    width: 10px;
    height: 10px;
    border-left: 3px solid var(--main-text-color);
    border-bottom: 3px solid var(--main-text-color);
    border-radius: 0 0 0 3px;
    transform: rotate(45deg);
    z-index: 100;
}

#close-settings-btn {
    position: absolute;
    top: 11px;
    right: 20px;
    z-index: 100;
}

#close-settings-btn img {
    max-width: 30px;
}

.settings-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 1px;
}

.settings-container hr {
    border: 1px solid var(--border-color);
    width: 100%;
    max-height: 1px;
    position: absolute;
    /* ONLY FOR FULL RANGE (WIDTH) */
}

#settings-item-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.user-details-settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

.user-details-settings input {
    width: 100%;
    height: 3rem;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 7px;
}

.user-details-settings input:focus {
    outline: none;
    border-color: var(--border-color);
}

.user-details-settings input::placeholder {
    color: #6B7280;
}

.subtext-st {
    font-weight: 500;
    font-size: 1.2rem;
}

.user-details-settings select {
    width: 100%;
    /* padding: 9px 14px; */
    height: 3rem;
    border-radius: 7px;
    font-size: 1.2rem;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--main-text-color);
    padding-left: 2px;
    font-family: inherit;
}

/* bgrfeuzbzverbizugbdizubgreizbgzebgzebguizebrzgberuzgbeubgerbgzebrg
eg8uzbeirzgbierzgbierbgierzbgoerbguzerbgiuerbgizebeuzgbiebgzerbgierzbgie */
.user-details-settings select option {
    font-size: 1.6rem;
    border-radius: 30px;
    width: 50%;
}

.user-details-settings select option:focus {
    outline: none;
    border-color: var(--border-color);
}

/* -------------------------------- */

.left-column-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1%;
    width: 50%;
}

.right-column-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1%;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* ACTIVITY LEVEL SELECTION */
.selection-div-st {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.al-card-st {
    width: 100%;
    height: fit-content;
    max-height: 100px;
    padding-bottom: 5px;
}

.al-text-st {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 4px;
    margin-left: 7px;
    font-size: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--main-text-color);
    /* same size as .subtext */
}

.al-desc-st {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 1rem;
    color: #868686;
    font-weight: 500;
}

.al-desc-st-2 {
    font-size: 1.2rem;
}

/* ------------- CARD SELECT GREEN (START) ------------------ */
.card-st-activity {
    border: transparent solid 1px;
    border-radius: 10px;
    outline: var(--border-color) solid 1px;
    outline-offset: -1px;
    transition: border-color 0.7s ease, background-color 0.7s ease;
}

.card-st-activity.clicked-st-activity {
    border: var(--positive-border-color) solid 1px;
    outline: none;
    background-color: var(--positive-fill-color);
}


.card-st-goal {
    border: transparent solid 1px;
    border-radius: 10px;
    outline: var(--border-color) solid 1px;
    outline-offset: -1px;
    transition: border-color 0.7s ease, background-color 0.7s ease;
}

.card-st-goal.clicked-st-goal {
    border: var(--positive-border-color) solid 1px;
    outline: none;
    background-color: var(--positive-fill-color);
}

/* ------------- CARD SELECT GREEN (END) ------------------ */

@media (max-height: 700px) {

    .al-card {
        width: 60%;
        height: 80%;
    }

    .al-text {
        font-size: 0.8rem;
    }

    .al-desc {
        font-size: 0.6rem;
    }

}

/*  ---------------------- GOAL -------------------- */
#goal-container {
    display: flex;
    flex-direction: column;
}

.goal-card-st * {
    margin: 0;
    padding: 0;
}

.goal-card-st {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 0px;
}


/* --------------- APP SETTINGS ------------------- */
.app-settings-row * {
    margin: 0;
    padding: 0;
}

.app-settings-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 16px;
    margin-bottom: 30px;
}

.app-settings-container select {
    height: 2.7rem;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    font-size: 1.2rem;
    background-color: var(--background-color);
    color: var(--main-text-color);
    width: 8rem;
    padding-left: 4px;
    font-family: inherit;
}

.app-settings-container select:focus {
    outline: none;
    border-color: var(--border-color);
}

.app-settings-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0;
}

.app-settings-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin-top: -8px;
}

#logout-btn {
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    font-weight: 500;
    font-family: inherit;
    height: 2.7rem;
    border-radius: 7px;
    font-size: 1.2rem;
    width: 8rem;
}

/* ---------- HEADER & FOOTER FIXED ---------- */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--background-color);
    padding: 16px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    /* GRÖßE VON HEADER*/

    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(48, 48, 48, 0.1);
}

.scrollable-content-st {
    width: 100%;
    margin-top: 50px;
    /* Adjust based on header height */
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    height: calc(100vh - 40px);
    /* Full height minus header */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-content-st::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}