:root {

    /* ----------------------*/
    /* General */
    /* ----------------------*/

    --background-color: white;
    --main-text-color: #1F2937;
    --icon-grey-color: #999999;
    /* Color for navigation bar items (not selected), star and clos icon */
    --accent-color: #E35252;
    --accent-background: #FEF2F2;
    --circle-stroke: 12px;
    --nav-height: max(10vh, 80px);

    /* ----------------------*/
    /* card colors */
    /* ----------------------*/

    /* grey */
    --fill-color: #F3F4F6;
    --border-color: #E5E7EB;

    /* green */
    --positive-color: #1BCE86;
    --positive-text-header: #065F46;
    --positive-fill-color: #EEFFF6;
    --positive-border-color: #BBF7D0;



    /* red */
    --negative-text-header: #AC1A1A;
    --blocking-color: #FF7C7C;
    --blocking-fill-color: #FEF2F2;
    --blocking-border-color: #FECACA;



}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
    user-select: text;
    -webkit-user-select: text;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    overscroll-behavior: none;
}

h1 {
    color: black;
    font-size: 2.4rem;
    margin: 0px;
    font-weight: medium;
}

h3 {
    font-size: 1.6rem;
    color: #1F2937;
    font-weight: 600;
}

.green-card {
    background-color: #EEFFF6;
    border: 1px solid #BBF7D0;
}

#blocked-items-card {
    background-color: #FEF2F2;
    border: 1px solid #FECACA;
}

#checked-circle {
    border: 1px solid #D1D5DB;
}

.subtext {
    color: #6B7280;
    font-weight: 300;
    font-size: 1.4rem;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.drop-shadow {
    box-shadow: 0 2px 9.8px 0px rgba(0, 0, 0, 0.03);
}

button {
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.settings {
    width: 30px;
    margin: 10px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.nav-icons {
    width: 35px;
    height: 35px;
    filter: brightness(0) saturate(100%) invert(61%) sepia(4%) saturate(464%) hue-rotate(178deg) brightness(99%) contrast(92%);
    transition: filter 0.3s ease;
}

#main-nav a.active .nav-icons {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(110%);
}

#main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    color: var(--icon-grey-color);
    border-top: 1px solid var(--border-color);
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0px 0px 0px;
    gap: 45px;
    z-index: 1000;
    background-color: white;
}

#main-nav a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    position: relative;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Subline */
#main-nav a.active::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--main-text-color);
    border-radius: 1px;
}

.nav-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 3.6rem;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.item-id {
    display: none;
}


@media (max-width: 370px) {

    #main-nav {
        gap: 30px;
    }
}