#page-name {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 6vh 26vh 41vh; /* 90 in total */

}

/* divs positioning and icons percentage, font rem */

/* Media queries for font sizes */
/* ---------------------------------
   Very small phones
   ~320px - 480px width
   ~400px - 480px height
---------------------------------- */
@media (max-width: 480px) {
 
}

/* ---------------------------------
   Small to medium smartphones
   ~481px - 600px width/height
---------------------------------- */
@media (max-width: 600px) {
  
}

/* ---------------------------------
   Medium to large smartphones
   ~601px - 720px width/height
---------------------------------- */
@media (max-width: 720px) {
  
}

/* ---------------------------------
   Large smartphones and small tablets
   ~721px - 900px width/height
---------------------------------- */
@media (max-width: 900px) {
  
}

/* ---------------------------------
   Tablets and larger devices
   >900px width/height
---------------------------------- */
@media (min-width: 901px) {
 
}