#progress-bar-fill-acc {
    width: 100%;
    height: 8px;
    border-radius: 7px;
    background-color: #1BCE86;
}

.landing-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 45vh 10vh 20vh;
}

#acc-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sign-up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    gap: 10px;
    background-color: #1F2937;
}

#google-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#sign-up-text{
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}

#email-text{
    font-size: 15px;
}

#personal-data-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.data {
  width: 275px;
  font-size: 16px;
  padding: 16px 0;
  background-color: transparent;
  color: #1F2937; /* Text color when typing */
  
  border: none; /* Remove all default borders */
  outline: none; /* Remove the focus outline */
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;

  background-image: linear-gradient(#1BCE86, #1BCE86), linear-gradient(#e5e5ea, #e5e5ea);
  
  /* Position both lines at the bottom of the input */
  background-position: 0 100%, 0 100%;
  

  background-size: 0 2px, 100% 1px;
}

.data:focus {

  background-size: 100% 2px, 100% 1px;
}

/* Style the placeholder text */
.data::placeholder {
   color: #A8A8A8;
   opacity: 1;
}

/* Adjust the container gap if needed */
#personal-data-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.data input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.data input::placeholder {
  color: #A8A8A8; /* Adjust placeholder text color as needed */
  opacity: 1;
}