 .landing-container {
     display: grid;
     justify-items: center;
     grid-template-columns: 1fr;
     grid-template-rows: 10vh 10vh 48vh 7vh 20vh;
 }


 #progress-bar-fill-al {
     width: 68%;
     height: 8px;
     border-radius: 7px;
     background-color: #1BCE86;
 }

 #selection-div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     width: 100%;
     height: 100%;
     gap: 20px;
 }

 .al-card {
     display: flex;
     flex-direction: column;
     gap: 4px;
     width: 70%;
     height: fit-content;
     padding: 5px 10px;
 }

 .al-text {
     font-size: 1rem;
     font-weight: 500;
 }

 .al-desc {
     font-size: 0.8rem;
     color: #868686;
     font-weight: 500;
 }

 @media (max-height: 805px) {

     .al-card {
         height: 80%;
     }

     .al-text {
         font-size: 0.9rem;
     }

     .al-desc {
         font-size: 0.8rem;
     }

     #selection-div {
         gap: 12px;
     }

 }

 @media (min-height: 720px) {
     .al-card {
         min-height: 55px;
     }
 }